/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F6FA;
  font-weight: 400;
  color: #000000
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* width: 100vw; */
  scroll-padding-top: 200px;
}

img {
  max-width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}


.scrollableCSS::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.scrollableCSS::-webkit-scrollbar-thumb {
  background: darkgrey;
}

.tabling {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
.tablingOperation {
  border-collapse: separate;
  border-spacing: 0px 3px;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#365F36 90%,#365F36) 0/calc(100%/3) 100% no-repeat;
  animation: l2 1s steps(3) infinite;
}

.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border-radius: var(--ck-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 40vh;
}